@model SignalR_app.Models.LoginModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        @Html.ValidationSummary()
        <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
        <p>
            <label>Email:</label><br />
            @Html.EditorFor(x => x.Email)
        </p>
        <p>
            <label>Password:</label><br />
            @Html.EditorFor(x => x.Password)
        </p>
        <p><button type="submit">Sign in</button></p>
    </div>
}